<!DOCTYPE html>
<html lang="en">
<%- include("header"); %>
<body>
  <%- include("menu"); %>
  <%- include("footer"); %>
  <!-- Start your project here-->  
  <!-- Jumbotron -->
<div class="jumbotron text-center">

  <!-- Title -->
  <h4 class="card-title h4 pb-2"><strong>Hello, Node.js!</strong></h4>

  <!-- Card image -->
  <style>
    img { display: block; margin: 0px auto; }
  </style>
  <div class="view overlay my-4">
    <img src="https://ww.namu.la/s/e59ad2cca651ca312d740ea801d10878dd2d16264e02c2023d132ed52d44d9c34c32813f2431dffde8b900bd63c23115d7d7431041ae69441c1de36b508a6f1990c7bf61fe9e28b64138952b24f61c8beec59810625707e4d4ac428f976e8f36" class="img-fluid" alt="">
      <a href="#">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <h5 class="indigo-text h5 mb-4">2020 Node.js Class</h5>

  <p class="card-text">What Should I Do?</p>

  <!-- Linkedin -->
  <a class="fa-lg p-2 m-2 li-ic"><i class="fab fa-linkedin-in grey-text"></i></a>
  <!-- Twitter -->
  <a class="fa-lg p-2 m-2 tw-ic"><i class="fab fa-twitter grey-text"></i></a>
  <!-- Dribbble -->
  <a class="fa-lg p-2 m-2 fb-ic"><i class="fab fa-facebook-f grey-text"></i></a>

</div>
<!-- Jumbotron -->
  <!-- End your project here-->


</body>
</html>