@charset "UTF-8";

.my-box {
    padding: 10px;
    outline: #0d0d0d;
    background: #0c5460;
}

.my-jumbotron {
    background-color: #fff;
    border-radius: .125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 12px 12px;
    margin-bottom: 16px;
}

.my-jumbotron-top {
    background-color: #fff;
    border-radius: .125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 12px 12px;
    margin-bottom: 16px;
    margin-top: 8px;
}

.my-p {
    margin-bottom: 0;
    color: #158d79;
}