<!DOCTYPE html>
<html lang="en">
<%- include("../header"); %>
<body>
<%- include("../menu"); %>
<%- include("../footer"); %>

<div class="my-jumbotron-top">
    <div class="card">
        <h5 class="card-header info-color white-text text-center py-4">
            <strong>로그인</strong>
        </h5>
        <div class="card-body px-lg-5 pt-0">
            <form id="loginForm" class="text-center" style="color: #757575;" action="#!">
                <div class="md-form">
                    <input type="email" id="email" class="form-control" required>
                    <label for="email">이메일</label>
                </div>
                <div class="md-form">
                    <input type="password" id="password" class="form-control" required>
                    <label for="password">비밀번호</label>
                </div>
                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">
                    로그인
                </button>
                <hr>
                <p><a href="/api/user/signup">회원가입이 필요하신가요?</a></p>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#loginForm").submit((event) => {
            event.preventDefault();
            const email = $("#email").val();
            const password = $("#password").val();

            $.ajax({
                url: "/api/user/login",
                type: "POST",
                data: {email, password}
            }).done(() => {
                location.href = "/";
            }).fail((request, status, error) => {
                alert(request.responseText);
            })
        });
    });
</script>
</body>
</html>