<!DOCTYPE html>
<html lang="en">
<%- include("../header"); %>
<body>
<%- include("../menu"); %>
<%- include("../footer"); %>

<div class="my-jumbotron-top">
    <div class="card">
        <h5 class="card-header info-color white-text text-center py-4">
            <strong>회원가입</strong>
        </h5>
        <div class="card-body px-lg-5 pt-0">
            <form id="signupForm" class="text-center" style="color: #757575;" action="#!">
                <div class="form-row">
                    <div class="col">
                        <div class="md-form">
                            <input type="text" id="name" class="form-control" required>
                            <label for="name">이름</label>
                        </div>
                    </div>
                </div>
                <div class="md-form mt-0">
                    <input type="email" id="email" class="form-control" required>
                    <label for="email">이메일</label>
                </div>
                <div class="md-form">
                    <input type="password" id="password" class="form-control" required>
                    <label for="password">비밀번호</label>
                </div>
                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">
                    회원가입
                </button>
                <hr>
                <p>이미 <a href="/api/user/login">가입하셨나요?</a></p>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#signupForm").submit((event) => {
            event.preventDefault();
            const name = $("#name").val();
            const email = $("#email").val();
            const password = $("#password").val();

            $.ajax({
                url: "/api/user/signup",
                type: "POST",
                data: {name, email, password}
            }).done(() => {
                alert("회원가입에 성공했습니다!");
                location.href = "/api/user/login";
            }).fail((request, status, error) => {
                alert(request.responseText);
            })
        });
    });
</script>
</body>
</html>